aniso8601==9.0.1
click==8.0.3
Flask==2.0.2
Flask-RESTful==0.3.9
importlib-metadata==4.8.1
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
numpy==1.21.4
psutil==5.8.0
pyfiglet==0.8.post1
pytz==2021.3
rpi-ws281x==4.3.1
six==1.16.0
spidev==3.5
typing-extensions==3.10.0.2
unicornhat==2.2.3
unicornhathd==0.0.4
Werkzeug==2.0.2
zipp==3.6.0
