body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.run-button {
  margin-top: 20px;
  margin-right: 8px;
  width: 120px;
}

.navbar {
  margin-bottom: 20px;
}

#programs-dropdown {
    width: 100%;
}

#rotation-buttons {
    width: 250px;
}

.slider {
    width: 250px !important;
}

