<!doctype html>


<style>
    div { padding: 10px; }
    form { margin-left: 20px }
    p { display: inline }
</style>


<head>
    <title>Unicorn Remote</title>
    <meta name="viewport" content="width=device-width">
</head>


<body>
    <h1>Unicorn Remote</h1>

    <form action="/" method="post">

        <div>
            <p>Brightness:</p>
            <input name="brightness" type="number" step="0.1" style="width: 40px" min="0" max="1" value={{brightness}}>
            <p>(0.0 - 1.0)</p>
        </div>

        <div>
            <p>Rotation:</p>
            <input name="rotation" type="number" step="90" style="width: 40px" min="0" max="270" value={{rotation}}>
            <p>(0, 90, 180, 270)</p>
        </div>

        <div>
            <select name="program">
                <option selected disabled>Choose program</option>
                <option value="ascii_pic">ASCII pic</option>
                <option value="blink_sun">Blink sun</option>
                <option value="cross">Cross</option>
                <option value="demo">Demo</option>
                <option value="figlet">Figlet</option>
                <option value="game_of_life">Game of Life</option>
                <option value="matrix">Matrix</option>
                <option value="psychedelia">Psychedelia</option>
                <option value="rain">Rain</option>
                <option value="rainbow">Rainbow</option>
                <option value="random_blinky">Random blinky</option>
                <option value="random_sparkles">Random sparkles</option>
                <option value="simple">Simple</option>
                <option value="snow">Snow</option>
                <option value="trig">Trig</option>
            </select>
        </div>

        <div><input type="submit" name="submit" value="Run"></div>
        <div><input type="submit" name="submit" value="Stop"></div>
    </form>
</body>
